html,
body,
#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-tone-1);
}

svg {
  height: 30px;
  color: var(--color-tone-2);
}
path {
  stroke-width: 1.1;
}
